body {
  background-color:  #EEEEEE;
}
 .btn{
   display: inline-block;
   vertical-align: middle;
   text-align: center;
   color: #858383;
   border-radius: 12px;
   background-color: white;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   width: 75%;
   height: 100px;
   padding-top:35px;
 }
