{% extends "layout.html" %}

{% block content %}
<h1>
    About Us
</h1>

<body>
    PotHole Reporter™ is a application designed to help curb and fix a rampent issiue we all face. 
    In western New York, we all know the issue of pot holes. We are building an application to be used
    by citizens and towns to help report and fix pot holes in the area. By creating a ticketing system where 
    citizens can sumbit and log pot holes and for towns to look at and easily track can help reduce and fix 
    pot holes in a faster, more efficent manner. 
</body>
{% endblock content %}