{% extends "layout.html" %}
{% block content %}

<div class="abouttext">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <h1>About Us</h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <p>PotHole Reporter™ is a application designed to help curb and fix a rampent issiue we all face. 
                    In western New York, we all know the issue of pot holes. We are building an application to be used
                    by citizens and towns to help report and fix pot holes in the area. By creating a ticketing system where 
                    citizens can submit and log pot holes and for towns to look at and easily track can help reduce and fix 
                    pot holes in a faster, more efficent manner. </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <p>PotHole reporter is a project created by Kyle Skompinski, Arya Hajikandi, and Kyle Williams. 
                    This projected was conceived for our software engineering project for CSE 442. 
                    By combining our techinal skills with a real world problem, we hope to achieve a system of better reporting and fixing of pot holes in our local area for social good.</p>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}
