{% extends "layout.html" %}

{% block content %}
<h1>{{ current_user.town }}</h1>
<div class="container">
    {% if number_of_pages %}
    <nav aria-label="Page navigation example">
        <ul class="pagination mb-0 mt-1">
            {% if prev %}
            <li class="page-item"><a class="page-link" href="{{prev}}">Previous</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            {% endif %}
                {% if number_of_pages > 1 %}
                    {% for num in range(1, number_of_pages+1)%}
                    <li class="page-item"><a class="page-link" href="{{url_for('account', page=num)}}">{{num}}</a></li>
                    {% endfor %}
                {% endif %}
            {% if next %}
            <li class="page-item"><a class="page-link" href="{{next}}">Next</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
            {% endif %}
        </ul> 
        </nav>
    {% endif %}
    <ul class="list-group list-group-flush">
        {% for ticket in tickets %}
        <li class="list-group-item">
        <h5>Ticket #{{ ticket.id }}</h5><a class="btn btn-outline-danger float-right" href="{{ url_for('delete', ticketId=ticket.id) }}" role="button">Remove</a>
        <p>Size: {{ ticket.size}}</p>
        <p>Latitude: {{ ticket.xcord}} Longitude: {{ ticket.ycord}}</p>
        <p>Description: {{ticket.description}}</p>
        {% if ticket.image != 'NULL' %}
                <button id="btn-{{ticket.id}}" type="button" class="btn btn-info float-right" data-toggle="modal" data-target="#modal-{{ticket.id}}">
                    Show Image
                </button>
            </li>
            <!-- Modal -->
            <div class="modal fade" id="modal-{{ticket.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title">Ticket #{{ticket.id}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <div id="{{ticket.id}}"><img class="img-fluid" src="{{url_for('static', filename='pothole_imgs/' + ticket.image)}}"></div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
            {% else %}
                <button class="btn btn-info disabled float-right" id="btn-{{ticket.id}}">Show Image</button>
        </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% if number_of_pages %}
    <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if prev %}
                <li class="page-item"><a class="page-link" href="{{prev}}">Previous</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                {% endif %}
                    {% if number_of_pages > 1 %}
                        {% for num in range(1, number_of_pages+1)%}
                        <li class="page-item"><a class="page-link" href="{{url_for('account', page=num)}}">{{num}}</a></li>
                        {% endfor %}
                    {% endif %}
                {% if next %}
                <li class="page-item"><a class="page-link" href="{{next}}">Next</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                {% endif %}
            </ul> 
            </nav>
        {% endif %}
    </div>
{% endblock content %}