{% extends "layout.html" %}

{% block content %}
    <h1>{{ current_user.town }}</h1>
    <div class="container">
        <ul class="list-group list-group-flush">
            {% for ticket in tickets %}
            <li class="list-group-item">
            <h5>Ticket #{{ ticket.id }}</h5><a class="btn btn-outline-danger delete" href="{{ url_for('delete', ticketId=ticket.id) }}" role="button">Delete</a>
            <p>Size: {{ ticket.size}}</p>
            <p>Latitude: {{ ticket.xcord}} Longitude: {{ ticket.ycord}}</p>
            </li>
            {% endfor %}
        </ul>
        </div>
{% endblock content %}