
{% extends "layout.html" %}
{% block content %}
<style>
    body {
    background-color:  #EEEEEE;
  }

  .contacttext{
      padding-bottom: 30px;
  }
</style>

<div class="contacttext">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <h2>Alternative Reporting Options</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>To report a pothole by phone or email please use the information listed below:<br><br>
                <b>Phone Number:</b> 716.858.7966<br><br>
                <b>Email Address:</b> potholes@erie.gov</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <h2>Contact Information</h2>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h5>Buffalo</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut massa massa. Praesent enim elit, varius non enim vitae, facilisis.</p>
                    </li>
                    <li class="list-group-item"><h5>Clarence</h5>
                    <p>Aliquam ut mi commodo risus auctor malesuada et at velit. Quisque posuere vestibulum sem ut sollicitudin. Cras egestas tristique nisl.</p>
                    </li>
                    <li class="list-group-item"><h5>West Seneca</h5>
                    <p>Morbi sollicitudin diam ut libero volutpat vestibulum sit amet eget libero. Fusce consectetur faucibus ex. Nunc et metus quis neque.</p>
                    </li>
                    <li class="list-group-item"><h5>Cheektowaga</h5>
                    <p>Praesent nulla nisl, consequat nec vulputate ac, dignissim non dui. Nam congue quam vel orci posuere semper. Nulla metus purus.</p>
                    </li>
                    <li class="list-group-item"><h5>Amherst</h5>
                    <p>Proin vel risus accumsan, dignissim turpis nec, scelerisque quam. Maecenas pellentesque dapibus magna, at congue ante. Maecenas sollicitudin auctor lobortis.</p>
                    </li>
                    <li class="list-group-item"><h5>Tonowanda</h5>
                    <p>Nullam lobortis mattis dictum. Vivamus congue tempus dui. Praesent finibus nulla ex, ac egestas metus dapibus sed. Curabitur id odio.</p>
                    </li>
                    <li class="list-group-item"><h5>Eden</h5>
                    <p>Maecenas elementum laoreet metus sit amet aliquam. Ut pulvinar nibh tortor, sit amet auctor dui lobortis non. Ut feugiat suscipit.</p>
                    </li>
                    <li class="list-group-item"><h5>Grand Island</h5>
                    <p>Vivamus vel justo vitae tortor facilisis facilisis sed sed massa. Pellentesque ornare ipsum iaculis, varius neque in, pulvinar nisi. Etiam.</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><h5>Lancaster</h5>
                        <p>Aenean tincidunt sed tellus sit amet fringilla. Etiam tortor leo, mollis quis ullamcorper vulputate, ullamcorper id purus. Praesent eget.</p>
                        </li>
                        <li class="list-group-item"><h5>Williamsville</h5>
                        <p>Ut vitae quam a enim pharetra fermentum nec at est. Etiam feugiat tristique sem, sed varius est elementum in. Nulla.</p>
                        </li>
                        <li class="list-group-item"><h5>Hamburg</h5>
                        <p>Quisque elit risus, facilisis sit amet ultrices eget, semper sit amet nisi. Donec sapien mauris, congue vel risus vitae, vestibulum.</p>
                        </li>
                        <li class="list-group-item"><h5>Orchard Park</h5>
                        <p>Nunc accumsan fermentum mi. Aliquam gravida, metus ut consequat mattis, mauris urna fringilla lorem, egestas ultrices lacus orci eu velit.</p>
                        </li>
                        <li class="list-group-item"><h5>Depew</h5>
                        <p>Nunc nec diam ac eros mollis ornare. Aliquam fermentum consequat mollis. Phasellus ante libero, commodo ut nulla ac, pharetra lobortis.</p>
                        </li>
                        <li class="list-group-item"><h5>Angola</h5>
                        <p>Nulla egestas dictum consequat. Phasellus et iaculis tellus. Vestibulum sit amet erat ac nibh pretium luctus. Vestibulum placerat augue quis.</p>
                        </li>
                        <li class="list-group-item"><h5>Kenmore</h5>
                        <p>Quisque sit amet ligula est. Nunc dapibus lacus ut diam suscipit, at eleifend augue gravida. Proin convallis metus pellentesque eros.</p>
                        </li>
                    </ul>
                </div>
        </div>
    </div>
</div>
{% endblock content %}
