{% extends "layout.html" %}
{% block content %}

<style>
  .btn{
     display: inline-block;
     vertical-align: middle;
     text-align: center;
     color: #858383;
     border-radius: 12px;
     background-color: white;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
     width: 75%;
     height: 100px;
     padding-top:35px;
   }
 </style>

  <div class="towns">
   <div class="container">
     <div class="row mt-5">
       <div class="col-md-4 mb-5">
         <a class="btn align-middle" href="{{ url_for('Buffalo') }}" role="button"><span class="text">Buffalo</span></a>
       </div>
       <div class="col-md-4 mb-5">
         <a class="btn" href="{{ url_for('Amherst') }}" role="button">Amherst</a>
       </div>
       <div class="col-md-4 mb-5">
         <a class="btn" href="{{ url_for('Clarence') }}" role="button">Clarence</a>
       </div>
     </div>
     </div>
     <div class="container">
       <div class="row">
         <div class="col-md-4 mb-5">
           <a class="btn" href="{{ url_for('WestSeneca') }}" role="button">West Seneca</a>
         </div>
         <div class="col-md-4 mb-5">
           <a class="btn" href="{{ url_for('Cheektowaga') }}" role="button">Cheektowaga</a>
         </div>
         <div class="col-md-4 mb-5">
           <a class="btn" href="{{ url_for('Tonawanda') }}" role="button">Tonawanda</a>
         </div>
       </div>
       </div>
       <div class="container">
         <div class="row">
           <div class="col-md-4 mb-5">
             <a class="btn" href="{{ url_for('Eden') }}" role="button">Eden</a>
           </div>
           <div class="col-md-4 mb-5">
             <a class="btn" href="{{ url_for('GrandIsland') }}" role="button">Grand Island</a>
           </div>
           <div class="col-md-4 mb-5">
             <a class="btn" href="{{ url_for('Lancaster') }}" role="button">Lancaster</a>
           </div>
         </div>
         </div>
         <div class="container">
           <div class="row">
             <div class="col-md-4 mb-5">
               <a class="btn" href="{{ url_for('Williamsville') }}" role="button">Williamsville</a>
             </div>
             <div class="col-md-4 mb-5">
               <a class="btn" href="{{ url_for('Hamburg') }}" role="button">Hamburg</a>
             </div>
             <div class="col-md-4 mb-5">
               <a class="btn" href="{{ url_for('OrchardPark') }}" role="button">Orchard Park</a>
             </div>
           </div>
           </div>
           <div class="container">
             <div class="row">
               <div class="col-md-4 mb-5">
                 <a class="btn" href="{{ url_for('Depew') }}" role="button">Depew</a>
               </div>
               <div class="col-md-4 mb-5">
                 <a class="btn" href="{{ url_for('Kenmore') }}" role="button">Kenmore</a>
               </div>
               <div class="col-md-4 mb-5">
                 <a class="btn" href="{{ url_for('Angola') }}" role="button">Angola</a>
               </div>
             </div>
             </div>
   </div>
   {% endblock content %}
