{% extends "layout.html" %}
{% block content %}
<h1>{{ title }}</h1>
<div class="mb-1" id="map" style="height: 425px"></div>
    <div class="container">
        {% if number_of_pages %}
        <nav aria-label="Page navigation example">
        <ul class="pagination mb-0">
            {% if prev %}
            <li class="page-item"><a class="page-link" href="{{prev}}">Previous</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            {% endif %}
                {% if number_of_pages > 1 %}
                    {% for num in range(1, number_of_pages+1)%}
                    <li class="page-item"><a class="page-link" href="{{url_for('town', town=title, town_number=town, page=num)}}">{{num}}</a></li>
                    {% endfor %}
                {% endif %}
            {% if next %}
            <li class="page-item"><a class="page-link" href="{{next}}">Next</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
            {% endif %}
        </ul> 
        </nav>
        {% endif %}
    <ul class="list-group list-group-flush" style="margin-top:0px;">
        {% for ticket in tickets %}
        <li class="list-group-item">
        <h5>Ticket #{{ ticket.id }}</h5>
        <p>Size: {{ ticket.size}}</p>
        <p>Latitude: {{ ticket.xcord}} Longitude: {{ ticket.ycord}}</p>
        <p>Description: {{ticket.description}}</p>
            {% if ticket.image != 'NULL' %}
                <button id="btn-{{ticket.id}}" type="button" class="btn btn-info float-right" data-toggle="modal" data-target="#modal-{{ticket.id}}">
                    Show Image
                </button>
            </li>
            <!-- Modal -->
            <div class="modal fade" id="modal-{{ticket.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title">Ticket #{{ticket.id}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <div id="{{ticket.id}}"><img class="img-fluid" src="{{url_for('static', filename='pothole_imgs/' + ticket.image)}}"></div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
            {% else %}
                <button class="btn btn-info disabled float-right" id="btn-{{ticket.id}}">Show Image</button>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% if number_of_pages %}
    <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if prev %}
                <li class="page-item"><a class="page-link" href="{{prev}}">Previous</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                {% endif %}
                    {% if number_of_pages > 1 %}
                        {% for num in range(1, number_of_pages+1)%}
                        <li class="page-item"><a class="page-link" href="{{url_for('town', town=title, town_number=town, page=num)}}">{{num}}</a></li>
                        {% endfor %}
                    {% endif %}
                {% if next %}
                <li class="page-item"><a class="page-link" href="{{next}}">Next</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                {% endif %}
            </ul> 
            </nav>
    {% endif %}
    </div>
    <script>
        var town = '{{ town }}';
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.js"></script>
    <script src="{{ url_for('static', filename='maps.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSh5DlWvP9q8WXx4-x6-9XJG17WWd3ET8&callback=initMap"
    async defer></script>
{% endblock content %}
